[Desktop Entry]
Name=ConverseJS
Exec=webapp-container --app-id="conversejs.luigi311" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
